# Data structures

### This chapter is all about...
![](images/standard_ds.jpg)

### Some string operations first!
format, strip, split, replace, count...

In [5]:
mystr = "hello world"

In [6]:
mystr.capitalize()

'Hello world'

In [8]:
mystr

'hello world'

In [3]:
mystr[0]

'h'

In [9]:
mystr.split()

['hello', 'world']

In [10]:
mystr.replace('o', 'a')

'hella warld'

In [30]:
len(mystr)

11

In [11]:
a = 1
b = 2
c = 3

In [12]:
"{} {} {}".format(a,b,c)

'1 2 3'

In [13]:
name = "Nikhil"
age = 0
city = "Del"

In [22]:
print("My name is", end=" ")
print(name, end=" ")
print(". My age is", end=" ")
print(age, end=" ") 
print(". I live in", end=" ")
print(city, end=" ")

My name is Nikhil . My age is 0 . I live in Del

In [14]:
print("My name is", name, ". My age is", age, ". I live in", city)

My name is Nikhil . My age is 0 . I live in Del

In [19]:
print("My name is %s. My age is %d. I live in %s"%(name, age, city))

My name is Nikhil. My age is 0. I live in Del

In [15]:
print("My name is {}. My age is {}. I live in {}".format(name, age, city))

My name is Nikhil. My age is 0. I live in Del

In [17]:
print(f"My name is {name}. My age is {age}. I live in {city}.")

My name is Nikhil. My age is 0. I live in Del.

In [20]:
a = 4

In [21]:
print(f"Square of {a} is {a*a}")

Square of 4 is 16

## 1. Lists

A list is a data structure that holds an ordered collection of items i.e. you can store a sequence of items in a list.


The list of items should be enclosed in square brackets so that Python understands that you are specifying a list. Once you have created a list, you can add, remove or search for items in the list. Since we can add and remove items, we say that a list is a mutable data type i.e. this type can be altered.

### Creating lists

In [23]:
a = [1,2,3]

In [24]:
type(a)

list

In [26]:
len(a)

3

In [27]:
a[0]

1

In [28]:
a[0] = 5

In [29]:
a

[5, 2, 3]

### Basic operations
![](images/list_oper.png)

In [32]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [34]:
["HI"]*3

['HI', 'HI', 'HI']

In [35]:
5 in a

True

In [36]:
fruits = ["apple", "orange", "banana"]

In [37]:
for x in range(len(fruits)):
    print(fruits[x])

apple
orange
banana

In [38]:
for fruit in fruits:
    print(fruit)

apple
orange
banana

### Indexing and list slicing

![](images/indexing.png)

In [39]:
l = [1,2,3,4,5]

In [45]:
l[len(l)-1]

5

In [46]:
l[-1]

5

In [47]:
l[0:3]

[1, 2, 3]

In [53]:
l[-3::-1]

[3, 2, 1]

In [56]:
l[::-1]

[5, 4, 3, 2, 1]

### Updating the list

- insert

- append

In [57]:
l

[1, 2, 3, 4, 5]

In [58]:
l.append(6)

In [59]:
l

[1, 2, 3, 4, 5, 6]

In [60]:
l.insert(3, -1)

In [61]:
l

[1, 2, 3, -1, 4, 5, 6]

### Deleting list elements

- del
- pop
- remove

In [62]:
l

[1, 2, 3, -1, 4, 5, 6]

In [63]:
del l[3]

In [64]:
l

[1, 2, 3, 4, 5, 6]

In [71]:
l.pop()

IndexError: pop from empty list

In [80]:
l = [1,2,3,4,5,2,2]

In [78]:
while 2 in l:
    l.remove(2)

In [79]:
l

[1, 3, 4, 5]

In [81]:
l.count(2)

3

In [82]:
for i in range(l.count(2)):
    l.remove(2)

In [83]:
l

[1, 3, 4, 5]

### Sorting and reversing

- sort and sorted

- reverse and reversed

In [113]:
l = [1,4,2,3,5,-1]

In [87]:
sorted(l)

[-1, 1, 2, 3, 4, 5]

In [93]:
l.sort(reverse=True)

In [94]:
l

[5, 4, 3, 2, 1, -1]

In [96]:
list(reversed(l))

[-1, 1, 2, 3, 4, 5]

In [99]:
l = l.reverse()

In [112]:
l == None

True

In [98]:
l

[-1, 1, 2, 3, 4, 5]

### map, strip and split function (just some utilities when you input a list)

In [1]:
mylist = []

In [10]:
for i in range(3):
    mylist.append(input())

1
2
3

In [11]:
s = input()

1 2 3 4

In [12]:
s

'1 2 3 4'

In [13]:
nums = s.split()

In [15]:
int('1')

1

In [14]:
nums

['1', '2', '3', '4']

In [16]:
l = [1,2,3,4]

In [18]:
def double(num):
    return num * 2

In [20]:
list(map(double, l))

[2, 4, 6, 8]

In [24]:
s = input()

1 2 3 4

In [25]:
nums = s.split()

In [26]:
nums

['1', '2', '3', '4']

In [34]:
sum(list(map(int, input().split())))

1 2 3 4

10

In [33]:
sum([1,2,3,4])

10

In [62]:
[j for j in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
m = [[i*j for j in range(1,11)] for i in range(1,11)]

In [70]:
m

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [76]:
list(map(str,[1,2,3,4]))

['1', '2', '3', '4']

In [79]:
[" ".join(map(str, row)) for row in m]

['1 2 3 4 5 6 7 8 9 10',
 '2 4 6 8 10 12 14 16 18 20',
 '3 6 9 12 15 18 21 24 27 30',
 '4 8 12 16 20 24 28 32 36 40',
 '5 10 15 20 25 30 35 40 45 50',
 '6 12 18 24 30 36 42 48 54 60',
 '7 14 21 28 35 42 49 56 63 70',
 '8 16 24 32 40 48 56 64 72 80',
 '9 18 27 36 45 54 63 72 81 90',
 '10 20 30 40 50 60 70 80 90 100']

In [81]:
def myfunc(num):
    return str(num).rjust(3)

In [83]:
print("\n".join([" ".join(map(myfunc, row)) 
                 for row in [[i*j for j in range(1,11)] 
                             for i in range(1,11)]]))

  1   2   3   4   5   6   7   8   9  10
  2   4   6   8  10  12  14  16  18  20
  3   6   9  12  15  18  21  24  27  30
  4   8  12  16  20  24  28  32  36  40
  5  10  15  20  25  30  35  40  45  50
  6  12  18  24  30  36  42  48  54  60
  7  14  21  28  35  42  49  56  63  70
  8  16  24  32  40  48  56  64  72  80
  9  18  27  36  45  54  63  72  81  90
 10  20  30  40  50  60  70  80  90 100

In [42]:
for i in range(1,11):
    for j in range(1,11):
        print(str(i*j).rjust(3), end=' ')
    print()

  1   2   3   4   5   6   7   8   9  10
  2   4   6   8  10  12  14  16  18  20
  3   6   9  12  15  18  21  24  27  30
  4   8  12  16  20  24  28  32  36  40
  5  10  15  20  25  30  35  40  45  50
  6  12  18  24  30  36  42  48  54  60
  7  14  21  28  35  42  49  56  63  70
  8  16  24  32  40  48  56  64  72  80
  9  18  27  36  45  54  63  72  81  90
 10  20  30  40  50  60  70  80  90 100

In [54]:
l = []

In [55]:
for i in range(1,11):
    if i%2 == 1:
        l.append(i**2)
    else:
        l.append(2)

In [56]:
l

[1, 2, 9, 2, 25, 2, 49, 2, 81, 2]

In [59]:
l = [i**2 if i%2 == 1 else 2 for i in range(1,11)]

In [61]:
l

[1, 2, 9, 2, 25, 2, 49, 2, 81, 2]

### Printing a list using join

In [36]:
print("\n".join(["hello", "world"]))

hello
world

### Challenges
[Lists](https://www.hackerrank.com/challenges/python-lists)

[Find second maximum number in a list](https://www.hackerrank.com/challenges/find-second-maximum-number-in-a-list/)

In [89]:
l = [2,3,5,1,4,5]

In [90]:
l.sort()

In [92]:
m = l[-1]

In [95]:
l[::-1]

[5, 5, 4, 3, 2, 1]

In [94]:
for e in l[::-1]:
    if m != e:
        print(e)
        break

4

### And yeah, you can put a list in a list...
![](images/list_in_list.jpeg)

## 2. Tuples

Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you. One major feature of tuples is that they are immutable like strings i.e. you cannot modify tuples.


Tuples are defined by specifying items separated by commas within an optional pair of parentheses.


Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used **will not change**.

In [96]:
t = (1, "nikhil", 2.1, True)

In [97]:
type(t)

tuple

In [98]:
t[0] = -1

TypeError: 'tuple' object does not support item assignment

### List to tuple and tuple to list...

In [99]:
l = list(t)

In [100]:
l

[1, 'nikhil', 2.1, True]

In [101]:
l[0] = -1

In [102]:
l

[-1, 'nikhil', 2.1, True]

In [103]:
t = tuple(l)

In [104]:
t

(-1, 'nikhil', 2.1, True)

### Returning multiple values from functions (The returned thing is a tuple!)

In [111]:
def add_sub(a,b):
    return 3,4,5,5

In [112]:
add_sub(1,2)

(3, 4, 5, 5)

In [115]:
a,b = 1,2,3,4

In [119]:
a = (1,)

In [120]:
type(a)

tuple

In [128]:
a = 1
b = 2

In [129]:
a,b = b,a

In [130]:
a,b

(2, 1)

In [141]:
t = ([(1,2,3),4,5], 'a', 'b')

In [143]:
t[0][0] = (3,4,5)

In [144]:
t

([(3, 4, 5), 4, 5], 'a', 'b')

### But...but I like Lists...

![](images/immutable.jpg)

- **Storage:** In CPython, tuples are stored in a single block of memory, so creating a new tuple involves at worst a single call to allocate memory. Lists are allocated in two blocks: the fixed one with all the Python object information and a variable sized block for the data. 

- **Indexing:** Tuples are faster than lists. Tuples directly reference their elements where as lists have an extra layer of indirection to an external array of pointers.

- **Safety:** It makes your code safer if you “write-protect” data that does not need to be changed. Using a tuple instead of a list is like having an implied assert statement that this data is constant, and that special thought (and a specific function) is required to override that.

**is operator**

### Challenge
[Tuples](https://www.hackerrank.com/challenges/python-tuples)

![](images/tuple.jpeg)

## 3. Dictionary

- A dictionary is like an address-book where you can find the address or contact details of a person by knowing only his/her name i.e. we associate keys (name) with values (details). Note that the key must be unique just like you cannot find out the correct information if you have two persons with the exact same name.

- Remember that key-value pairs in a dictionary are not ordered in any manner.

![](images/dict.png)

In [151]:
d = {'Ram': 20, 'Shyam': 19, 'Laxman': 15, 'Seeta':21}

In [152]:
d

{'Ram': 20, 'Shyam': 19, 'Laxman': 15, 'Seeta': 21}

In [153]:
d['Ram']

20

In [164]:
d = {(1,2): 3, (0,0): 5}

In [165]:
d[(0,0)]

5

In [166]:
d = {}

In [167]:
d['a'] = 2

In [168]:
d['a']

2

### Some important dict methods

- get()
- items()
- keys()
- values()
- clear()

In [205]:
l = [1,2,3,4,5,5]

In [206]:
sorted(list(set(l)))[-2]

4

In [188]:
d = {'a':1, 'b':2, 'c':3}

In [176]:
d.get('d', "Not found")

'Not found'

In [177]:
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [178]:
for item in d.items():
    print(item)

('a', 1)
('b', 2)
('c', 3)

In [179]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [180]:
d.values()

dict_values([1, 2, 3])

In [181]:
sum(d.values()) / 3

2.0

In [182]:
len(d)

3

In [ ]:
del d['a']

In [183]:
d.pop('a')

1

In [189]:
d.clear()

In [186]:
del d

In [190]:
d

{}

### And yeah, keys of dict can be any immutable object, so...
<img src="images/dict_tuple.jpg" alt="sets_are_coming" style="width: 300px;"/>

### Challenge

Write a simple Python program which inputs and stores the data about university students as a list of dictioaries.
Your final record structure should look like this:

```
 [
     {
         'roll-no': 1211,
         'name': 'Ravi',
         'branch': 'CSE'
     },
     {
         'roll-no': 202,
         'name': 'Abhishek',
         'branch': 'SE'
     },
     {
         'roll-no': 1202,
         'name': 'Sachin',
         'branch': 'IT'
     }
 ]
 ```

## 4. Sets

<img src="images/sets.jpg" alt="sets_are_coming" style="width:250px;"/>


Sets are unordered collections of simple objects. These are used when the existence of an object in a collection is more important than the order or how many times it occurs.


Using sets, you can test for membership, whether it is a subset of another set, find the intersection between two sets, and so on.

In [194]:
s1 = {1,2,3}
s2 = {3,4,5}

In [197]:
s1 & s2

{3}

In [196]:
s1 | s2

{1, 2, 3, 4, 5}

In [198]:
s1 ^ s2

{1, 2, 4, 5}

In [199]:
s1 - s2

{1, 2}

In [202]:
s1.add(6)

In [203]:
s1.update(s2)

In [204]:
s1

{1, 2, 3, 4, 5, 6}

args, kwargs and call by object

### Ok...let's end this chapter right here but your tryst with data structures has just begun !!!

![](images/ds.jpg)